include LICENSE
include README.md
include README_PYPI.md
include SECURITY.md
include aes-ffx-vectors.txt
include example.py
include benchmark.py
recursive-include tests *.py
recursive-include examples *.py
